.main{
    height: 100vh;
    width: 100%;
    background-image: url('weather.webp');
    background-size:100% 100%;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:blueviolet;
}
.temp{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:crimson;
}
#temp{
    height:40px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
}

a{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}
a:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 25px var(--clr);
}
a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
button{
    position: relative;
    z-index:1;
    height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #27282c;
    border: 1px solid #27282c;
    font-size: 20px;
    color: #fff;
    margin: 20px;
}
a i{
    position: absolute;
    inset: 0;
    display: block;
}
a i::before{
    content:'';
    position: absolute;
    width:10px;
    height: 5px;
    border: 2px solid var(--clr);
    left: 80%;
    top: -3.5px;
    transition: 0.5s;
    transform: translateX(-50%);
}
a:hover i::before{
    width: 20px;
    left: 20%;
}
a i::after{
    content:'';
    position: absolute;
    width:10px;
    height: 5px;
    border: 2px solid var(--clr);
    left: 20%;
    bottom: -3.5px;
    transition: 0.5s;
    transform: translateX(-50%);
}
a:hover i::after{
    width: 20px;
    left: 80%;
}